.ag-format-container {
  width: 1142px;
  margin: 0;
}

.ag-courses_box {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 15px 0; /* Reduced padding for smaller space at top and bottom */
}

.ag-courses_item {
  flex-basis: calc(25% - 20px); /* Adjusted flex-basis to fit 4 items per row */
  margin: 0 10px 15px; /* Reduced margin bottom */
  overflow: hidden;
  border-radius: 20px;
}

.ag-courses-item_link {
  display: block;
  padding: 20px 15px;
  background-color: #333333;
  overflow: hidden;
  position: relative;
  transition: color 0.5s ease;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_image {
  text-decoration: none;
  color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  transform: scale(8);
}

.ag-courses-item_title {
  min-height: 72px;
  margin: 0 0 20px;
  overflow: hidden;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  z-index: 2;
  position: relative;
}

.ag-courses-item_image-box {
  text-align: center;
  z-index: 2;
  position: relative;
}

.ag-courses-item_image {
  max-width: 80px;
  height: 80px;
  border-radius: 8px;
  transition: transform 0.5s ease;
}

.ag-courses-item_bg {
  height: 100px;
  width: 100px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -60px;
  right: -60px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    flex-basis: calc(33.33333% - 20px); /* 3 items per row */
  }
  .ag-courses-item_title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    flex-basis: calc(50% - 20px); /* 2 items per row */
  }
  .ag-courses-item_title {
    min-height: 60px;
    line-height: 1;
    font-size: 20px;
  }
  .ag-courses-item_link {
    padding: 15px 30px;
  }
  .ag-courses-item_image-box {
    font-size: 14px;
  }
}

@media only screen and (max-width: 479px) {
  .ag-courses_item {
    flex-basis: 100%; /* 1 item per row */
  }
}
